table{
     border-collapse: collapse;
}

caption{
    border: 1px solid black ;
    padding: 6px;
    background-color: rgb(221, 221, 221);
    font-weight: bold
}

td{
    border: 1px solid black;
    padding: 6px;
    text-align: center;
}

th{
   border: 1px solid black; 
   padding: 6px;
   text-align: center;
}

thead{
     background-color: rgb(250, 250, 250);
}

tbody th{
    background-color:rgb(221, 221, 221) ;
    font-weight: normal;
}

tbody tr:nth-child(2n) {
    background-color: rgb(126, 255, 169);
}

tbody tr:nth-child(2n+1) {
    background-color: rgb(167, 223, 255);
}
tfoot {
    font-style: italic;
    background-color: rgb(250, 250, 250);
}